# Python: 
*.py[cod] 
*.so 
*.egg 
*.egg-info 
dist 
build

# jupter notebook
.ipynb_checkpoints

# data file
*.csv
*.xls[x]
*.zip
*.np[yz]

# folder
part*
input

.idea
.vscode
*.model
generated_captcha_images

# scala
target
